.extp-RoomStylesView {
  &-editor {
    height: calc(100% - 59px); /* 100% - save button height */
  }

  &-save {
    margin: 10px;
  }

  &-loading {
    position: relative;
    top: 50%;
    left: 50%;
  }
}
