.extp-RulesSettingsView {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.extp-RulesSettingsView-option {
  width: calc(100% / 3) !important;
  box-sizing: border-box;
  padding: 0 10px;

  & button {
    width: 50% !important;
  }
  & .off {
    margin-left: 0 !important;
  }
}

.extp-RulesSettingsSaveLine {
  margin-right: 10px;
  text-align: right;
}
